:root {
    --dark-blue: #243946;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fff3d4;
    overflow: hidden;
    font-size: 12px;
}

.inspiration {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', sans-serif;
    font-size: 12px;
    color: rgb(150, 150, 150);
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 275px;
    height: 490px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-image: linear-gradient(to top right, #f5a749, #eed262);
}

.center .ear {
    position: absolute;
    top: -110px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--dark-blue);
}

.center .ear--left {
    left: -135px;
}

.center .ear--right {
    right: -135px;
}

.face {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    margin: 80px auto 10px;
    transform-origin: center 20px;
    transition: transform 0.2s;
}

.eye {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--dark-blue);
}

.eye--left {
    margin-right: 40px;
}

.eye--right {
    margin-left: 40px;
}

.eye .glow {
    position: relative;
    top: 3px;
    right: -12px;
    width: 12px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    transform: rotate(38deg);
}

.nose {
    position: relative;
    top: 30px;
    transform: scale(1.1);
}

.nose .glow {
    position: absolute;
    top: 3px;
    left: 32%;
    width: 15px;
    height: 8px;
    border-radius: 50%;
    background-color: #476375;
}

.mouth {
    position: relative;
    margin-top: 45px;
}

svg.smile {
    position: absolute;
    left: -28px;
    top: -19px;
    transform: scaleX(1.1);
    stroke: var(--dark-blue);
}

.mouth-hole {
    position: absolute;
    top: 0;
    left: -50%;
    width: 60px;
    height: 15px;
    border-radius: 50% / 100% 100% 0% 0;
    transform: rotate(180deg);
    background-color: var(--dark-blue);
    z-index: -1;
}

.tongue {
    position: relative;
    top: 5px;
    width: 30px;
    height: 20px;
    background-color: #ffd7dd;
    transform-origin: top;
    transform: rotateX(60deg);
    animation: breath 0.3s infinite linear;
}

.tongue-top {
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ffd7dd;
}

.line {
    position: absolute;
    top: 0;
    width: 30px;
    height: 5px;
    background-color: #fcb7bf;
}

.median {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 25px;
    border-radius: 5px;
    background-color: #fcb7bf;
}

@keyframes breath {

    0%,
    100% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(60deg);
    }
}

.hands {
    position: relative;
}

.hand {
    position: absolute;
    top: -6px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.hand--left {
    left: 50px;
}

.hand--right {
    left: 170px;
}

.hand--left.hide {
    transform: translate(2px, -149px) rotate(-160deg);
}

.hand--right.hide {
    transform: translate(-6px, -149px) rotate(160deg);
}

.finger {
    position: relative;
}

.bone {
    width: 20px;
    height: 20px;
    border: 2px solid var(--dark-blue);
    border-bottom: none;
    border-top: none;
    background-color: #fac555;
}

.nail {
    position: absolute;
    left: 0;
    top: 10px;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--dark-blue);
    background-color: #fac555;
    z-index: -1;
}

.login {
    position: relative;
    display: flex;
    flex-direction: column;
}

.login input,
.login .login-button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 30px;
    padding: 0 20px 0 40px;
    margin: 5px 0;
}

.login-button {
    width: calc(100% - 40px);
    margin: 20px auto 0;
    background-color: var(--dark-blue);
    color: white;
    cursor: pointer;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.social {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    color: white;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pass {
    position: relative;
    width: 100%;
}

.pass input.password {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 30px;
    padding: 0 80px 0 20px;
}

.pass .password-button {
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    background-color: var(--dark-blue);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
}

.us {
    margin-top: 6px;
}